.side-bar
  .header
    %h3.header__name taiga
    %ul.header__lists
      %li.list
        %a{:href => ""}
          %i.fa.fa-pencil-square-o.icon
      %li.list
        %a{:href => ""}
          %i.fa.fa-cog.icon
  .groups
    .group
      %h4 神
      %p god
    .group
      %h4 aaaaaaaaa
      %p まだメッセージはありません。
    .group
      %h4 sampleグループ
      %p まだメッセージはありません。
