<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>ChatSpace</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <div class="side-bar">
        <div class="header">
          <h3 class="header__name">taiga</h3>
          <ul class="header__lists">
            <li class="list">
              <a href="">
                <i class="fa fa-pencil-square-o icon"></i>
              </a>
            </li>
            <li class="list">
              <a href="">
                <i class="fa fa-cog icon"></i>
            </li>
          </ul>
        </div>
        <div class="groups">
          <div class="group">
            <h4>神</h4>
            <p>god</p>
          </div>
          <div class="group">
            <h4>aaaaaaaaa</h4>
            <p>まだメッセージはありません。</p>
          </div>
          <div class="group">
            <h4>sampleグループ</h4>
            <p>まだメッセージはありません。</p>
          </div>
        </div>
      </div>
      <div class="chat">
        <div class="header">
          <div class="left-header">
            <div class="left-header__titles">
              sampleグループ
            </div>
            <ul class="left-header__members">
              Member：
              <li class="member">taiga</li>
            </ul>
          </div>
          <div class="right-header">
            <a class="right-header__button" href="">Edit</a>
          </div>
        </div>
        <div class="messages">
          <div class="message">
            <div class="upper-message">
              <div class="upper-message__user-name">taiga</div>
              <div class="upper-message__date">2018/11/28 12:25:32</div>
            </div>
            <div class="lower-message">
              <p class="lower-message__content">gggggggggggg</p>
            </div>
          </div>
        </div>
        <div class="form">
          <form>
            <input class="form__messsage" placeholder="type a message" type="text" name="message">
            <div class="form__mask">
              <label class="form__mask__image">
                <i class="fa fa-picture-o icon"></i>
              </label>
            </div>
            <input type="submit" name="commit" value="Send" class="form__submit">
          </form>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
